.clients-list {
  display: flex;
  padding: 0;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: flex;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  transition: fill 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
}
